@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --line-color: #3975EA;
  text: #000;
}

@layer base {

  html,
  body {
    @apply bg-[url('/bg.png')] bg-cover bg-no-repeat bg-center text-black;
    /* Replace '../path/to/your/image.jpg' with your actual image path */
  }
}

/* Tailwind CSS Styles for Vertical Timeline Component */

.vertical-timeline-element--work .vertical-timeline-element-content-arrow {
  @apply rounded-r-md border-pink-600;
  /* Adjust 'rounded-r-md' to your desired border radius */
}

.vertical-timeline-element--education .vertical-timeline-element-content-arrow {
  @apply rounded-r-md border-blue-600;
  /* Adjust 'rounded-r-md' to your desired border radius */
}

.vertical-timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  max-height: 79%;
  width: 2px;
  /* Adjust the width of the timeline */
  /* border-left: 4px dotted rgb(57, 117, 234); Change to dotted line */
  /* border-color: #3975EA; */
  background: var(--line-color);
  margin-top: 20px;

}

.vertical-timeline.vertical-timeline--one-column-right::before {
  right: 18px;
  left: unset;
  /* border-color: #3975EA; */
  background: #3975EA;

}

.vertical-timeline.vertical-timeline--one-column-left::before {
  left: 18px;
  right: unset;
  background: #3975EA;

}

.vertical-timeline-element-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* Sets border radius to 1px */
  border: 2px solid #3975EA;
  /* 1px solid black border */
  box-shadow: none;
}

.vertical-timeline-element-icon.is-hidden {
  box-shadow: none;
  border-radius: 50%;
  /* Sets border radius to 1px */
  border: 2px solid #3975EA;
  /* 1px solid black border */

}

.pricegrid {
  background-color: transparent;
  overflow: hidden;
  border-width: 2px;
  border-style: solid;
  border-color: #3975EA;
  border-radius: 50px;
  margin-right: 60px;
  margin-right: 60px;

}

@media (min-width: 768px) {
  .pricegrid {
    margin-left: 0px;
    margin-right: 0px;
    background-color: transparent;
    overflow: hidden;
    border-width: 2px;
    border-style: solid;
    border-color: #3975EA;

    border-radius: 50px;

  }
}


.vertical-timeline.vertical-timeline--one-column-left {
  padding: 0;
  /* Remove all padding */
  margin: 0;
  /* Remove all margin */
  justify-content: center;
  /* Center the timeline */
}

.vertical-timeline-element-icon.bounce-in {
  box-shadow: none;
}

.vertical-timeline-element-content-arrow {
  display: none;
}

/* #middle section css */

.textimg {
  font-size: 30px;
  color: #000;
  font-weight: 600;
  width: fit-content;
  justify-content: center;

}

.MiddleText {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 5%;
  align-items: center;
}

.MiddleText2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.imgmid {
  margin-Left: 10px;
  margin-Right: 10px;
  height: 50px;
  width: 130px;
}

.middle2 {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: top;
  gap: 30px;
  padding-top: 20px;


}

.middle2con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.textimg2 {
  font-size: 25px;
  color: #000;
  font-weight: 600;
  width: fit-content;
  justify-content: center;
  margin-bottom: 20px;

}

.img2 {
  height: 50px;
  width: 50px;

}

.icons {
  padding-bottom: 5%;
}

@media (max-width: 640px) {
  .textimg {
    font-size: 20px;
    /* Smaller font size for mobile */
  }

  .img2 {
    height: 30px;
    width: 30px;
  }

  .textimg2 {
    font-size: 15px;
    /* Smaller font size for mobile */
  }

  .MiddleText {
    flex-direction: column;
    /* Stack items vertically on mobile */
    padding-bottom: 10%;
    /* Adjust padding for mobile */
  }

  .MiddleText2 {
    flex-direction: row;
    /* Stack items vertically on mobile */
  }

  .imgmid {
    margin-Left: "3px";
    margin-Right: "3px";
    height: 30px;
    width: 80px;

  }
}






@media only screen and (min-width: 1170px) {
  .vertical-timeline--two-columns .vertical-timeline-element-icon {
    width: 30px;
    height: 30px;
    left: 20%;
    margin-left: -30px;
  }
}

@media screen and (max-width: 768px) {
  .vertical-timeline::before {
    left: 8px;
    /* Adjust left position for smaller screens */
    max-height: 77%;
    /* Adjust max height for smaller screens */
  }

  .vertical-timeline.vertical-timeline--one-column-right::before {
    right: 8px;

  }

  .vertical-timeline-element-icon {
    width: 30px;
    /* Adjust icon size for smaller screens */
    height: 30px;
  }
}